[tool.black]
skip-magic-trailing-comma = true

[tool.isort]
profile = "black"

[tool.ruff]
select = ["E", "F", "W", "I", "D", "UP"]
ignore = ["E203", "E266", "E501", "D1"]
target-version = "py311"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.docformatter]
recursive = true
wrap-summaries = 88
wrap-descriptions = 88

[tool.mypy]
disallow_untyped_defs = true
disallow_untyped_calls = true
ignore_missing_imports = true
